.filters-button__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #11823B;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}