@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    height: 100%;
    margin: 0;
    font-family: Montserrat;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  a {
    all: unset;
  }

  .wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .page {
    
  }

  .page__container{
    display: flex;
  }

  [class*="__container"]{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    
  }
 @media (max-width: 1399.98px) {
    [class*="__container"]{
        max-width: 1190px;
        
      }
 }
 @media (max-width: 990.98px) {
    [class*="__container"]{
        max-width: 750px;
        
      }
 }
 @media (max-width: 767.98px) {
    [class*="__container"]{
        max-width: none;
        
      }
 }
 /*------------Header---------------*/
 .header{
    
 }
.header__container{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px 0;
}
.header__logo{
    font-weight:bolder;
    font-size: 36px;
    color:#11823B;
    cursor: pointer;
}
.header__cart{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #11823B;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
}

/*-------------Cart--------------*/
.cart-header{

}
.cart__icon{
    padding: 0.7rem;
}
.cart__button{
    font-size: 13px;
    font-weight: 700;
    padding: 0.7rem;
}





/*-----------Side-left----------------*/
.page__side-left{
  width: 25%;
}
.side-left{

}
.side-left__container{
   display: flex;
   flex-direction: column;
}

/*-----------Filters----------------*/
.side-left__filters{
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  }
  .filters-side-left{
  padding: 1rem;
  }
  .filters__content{
      
  }

/*------------Slider-block---------------*/
.slider-filters-side-left{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/*------------Decorative-block---------------*/
.side-left-filters__decorative-block{
  height: 1px;
  width: 100%;
  background: #D6D6D6;
}
/*-----------Filters-item----------------*/
.filters-side-left__filter-item {

}
.filter-item-filters-side-left {
    padding-top: 1rem;  
}

/*-----------Side-left-button----------------*/

.side-left__filters-button{
  padding: 1rem 0;
}
.filters-button-side-left{
  
}

/*-----------Side-right----------------*/

.page__side-right{
  width: 75%;
  padding-left: 20px;
}
.side-right{
  display: flex;
  flex-direction: column;
align-items: center;}
.side-right__container{
  display: flex;
  flex-direction: column;
}
/*-----------Searchbox-component----------------*/

.side-right__search-box{
  padding-bottom: 1rem;
}
.search-box-side-right{

}

/*-----------Pagination-component----------------*/
.footer__pagination {
  padding: 1rem;
  cursor: pointer;
}

.pagination__container {
    display: flex;

}
.pagination__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.pagination__item {
    display: flex;
    align-items: center;
    background: #EDEDED;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    justify-content: center;
}
.pagination__item:hover {
    background-color: #11823B;
    color: #EDEDED;
  }

.active {
    background-color:#11823B;
    color: #EDEDED;
    transition-duration: 0.3s;
}
.back {
    margin-right: 15px;
}
.next {
  margin-left: 15px;
}
